@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 15px 15px 5px rgba(0, 0, 0, 0.05);
    max-width: 300px;
    padding: 1rem;
    margin-bottom: 1rem;
}

img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
}

.description {
    padding: 1.5rem, 0rem, 2rem;
}

h1 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    margin: 1.5rem .5rem .7rem .5rem;
    font-weight: bold;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
    padding: .3rem .5rem;
    margin-bottom: 1rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}
